.pageList{
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	&__title{
		font-size: 30px;
		color: #004d00;		
	}
	&__form{
		width: 50%;
		margin: 50px auto;
		display: flex;
		justify-content: center;
		
	}
	&__inputarea{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-right: 30px;
		& p{
			display: inline-block;
			font-size: 20px;
			font-weight: 600;
			color: #004d00;
			margin-right: 10px;
		}
	}
	&__inp{
		width: 350px;
		padding: 10px;
		font-size: 20px;
		color: #004d00;
		background-color: #ccffcc;
		border: 1px solid #008000;
		&:focus{
			box-shadow: 0 0 8px 8px #008000;
		}
	}
	&__table{
		width: 50%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;		
		background-color: #ccffcc;
	}
}
.btn{
	display: block;
	width: 150px;
	padding: 10px 0;	
	font-size: 16px;	
	text-align: center;
	text-decoration: none;	
	background-color: #004d00;	
	color: #ccffcc;
	border: none;
  	border-radius: 10px;
  	box-shadow: 0 4px #e6ffe6;
  	cursor: pointer;
  	&:hover{
		background-color: #008000; 
	}
	&:active {
	  background-color: #008000;
	  box-shadow: 0 1.5px #e6ffe6;
	  transform: translateY(2px);
	}
}

.episode{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;	
	font-size: 20px;
	color: #004d00;
	border-bottom: 1px solid #99ff99;
	&__checkbox{
		display: flex;
		margin-right: 0;;
	}
	&__inp{
		display: none;
	}
	&__inp:checked + &__label:before{
		background-image: url('../../assets/icons/checkmark.png');
  		background-size: cover;  		
	}
	&__label{
		padding-left: 25px;
	}
	&__label:before{
		content: '';
		display:inline-block;
		width: 22px;
		height: 22px;
		background-color: #004d00;
		vertical-align: middle;
	}
	&__name{
		width:90%;
		padding-left: 10px;
		text-align: left;
	}
	&__del{		
		width: 35px;
		height: 35px;
		padding: 0;
		margin-right: 10px;
		background-color: rgba(255,255,255, 0);
		border: none;
		& img{
			width: 100%;
		}
	}
}

