.episodContainer{
  width: 60%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.episodTable{
	width: 100%;
	display: flex;
	flex-direction: column;	
	align-items: flex-start;
	background-color: rgba(204, 255, 204, .6);
	margin-top: 20px;
	&__head{
		width: 100%;	
		display: flex;
		justify-content: flex-start;
		align-items: center;		
		color: #004d00;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 600;
		border-bottom: 1px solid #004d00;
		padding: 10px 0;		
		& div{			
			text-align: left;
		}
	}
	&__episode,
	&__air_date{
		width: 25%;
	}
	&__name{
		width: 50%;
	}
	&__episode{
		padding-left: 50px;
	}
}

.episodButtons{
	width: 80%;
	margin: 30px auto;	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	display: block;
	width: 150px;
	padding: 10px 0;	
	font-size: 16px;	
	text-align: center;
	text-decoration: none;	
	background-color: #004d00;	
	color: #ccffcc;
	border: none;
  	border-radius: 10px;
  	box-shadow: 0 4px #e6ffe6;
  	cursor: pointer;
  	&:hover{
		background-color: #008000; 
	}
	&:active {
	  background-color: #008000;
	  box-shadow: 0 1.5px #e6ffe6;
	  transform: translateY(2px);
	}
}