.container{
  width: 80%;
  margin: 0 auto;
  /*height: 300px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*.title{
	color: #004d00;
	font-size: 30px;
}*/
.table{
	width: 100%;
	display: flex;	
	justify-content: space-between;
	flex-wrap: wrap;
}
.card{
	width: 18%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: #ccffcc;
	margin-bottom: 20px;
	&__img{
		display: block;
		max-width: 70%;
		margin-top: 20px;		
	}
	&__content{
		margin-top: 20px;
		color: #004d00;
		text-align: center;
	}
	&__name{
		font-size: 24px;
	}
	&__species{
		font-size: 18px;
	}
}
.buttons{
	width: 80%;
	margin: 30px auto;	
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	display: block;
	width: 150px;
	padding: 10px 0;	
	font-size: 16px;	
	text-align: center;
	text-decoration: none;	
	background-color: #004d00;	
	color: #ccffcc;
	border: none;
  	border-radius: 10px;
  	box-shadow: 0 4px #e6ffe6;
  	cursor: pointer;
  	&:hover{
		background-color: #008000; 
	}
	&:active {
	  background-color: #008000;
	  box-shadow: 0 1.5px #e6ffe6;
	  transform: translateY(2px);
	}
}

.selector{
	display: inline-block;
	margin: 0 10px;
	position: relative;
	&__label{
		margin-right: 5px;
		font-size: 18px;
		font-weight: 600;
		color: #004d00;
	}
	&__select{
		font-size: 16px;
		padding: 5px 15px 5px 5px;
		background-color: #ccffcc;
		color: #004d00;
		border: 1px solid #004d00;
	}
	&__arrow{
		position: absolute;
		top: 0;
		right: 0;
		background-color: #004d00;
		width: 25px;
		height: 100%;
		pointer-events: none;
		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			left: 50%;
			transform: translate(-50%, -50%);

		}
		&:before{
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 6px solid #ccffcc;
			top: 30%;

		}
		&:after{
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 6px solid #ccffcc;
			top: 60%;
		}
	}
}